[submodule "lib/bling"]
	path = lib/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "lib/vicious"]
	path = lib/vicious
	url = https://github.com/vicious-widgets/vicious
[submodule "lib/rubato"]
	path = lib/rubato
	url = https://github.com/andOrlando/rubato
